<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Generate proper directory tree codes for you.">
    <meta name="keywords" content="directory, tree">
    <meta name="author" content="Liang Zhu">
    <!--[if IE]><meta http-equiv="refresh" content="0; url=./ie.html"><![endif]-->
    <title>Dir Tree Noter</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
</head>
<body>
    <main id="root"></main>
    <footer class="site-footer">
      <div class="container">
        <a class="github-link right" href="https://github.com/kenanpengyou/dir-tree-noter"></a>
        &copy; 2016 <a href="http://acgtofe.com">Tea Works</a>.
      </div>
    </footer>
    <script src="jquery/jquery-3.1.0.min.js"></script>
    <script src="materialize/js/materialize.modified.min.js"></script>
    <script src="google/ga.js"></script>
</body>
</html>
