<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>dir-tree-noter</title>
  <link rel="stylesheet" href="materialize/css/materialize.min.css">
</head>
<body>
  <main id="root"></main>
  <footer class="site-footer">
      <div class="container">
        <a class="github-link right" href="https://github.com/kenanpengyou/dir-tree-noter"></a>
        &copy; 2016 <a href="http://acgtofe.com">Tea Works</a>.
      </div>
  </footer>
  <script src="jquery/jquery-3.1.0.min.js"></script>
  <script src="materialize/js/materialize.min.js"></script>
</body>
</html>
