
/* upload */
.upload-area {
    padding: 20px 0;
}
.drop-container {
    padding-top: 20px;
}
.drop-box{
    height: 180px;
    border: 5px dashed #5d4037;

}
.drop-box.active{
    border-color: #ff6e40;
}
.drop-label{
    width: 100%;
    text-align: center;
    font-size: 18px;
    cursor: default;
    pointer-events: none;
}


/* editor */
.editor-area {
    position: relative;
    padding: 20px 0;
    min-height: 300px;
}
.label-text{
    font-size: 14px;
}
.preloader-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
content-container{
    margin-bottom: 10px;
}
.editor-content{
    pre{
        padding: 10px;
        white-space: pre;
        word-wrap: normal;
        overflow: auto;
        line-height: 1.5;
    }
    pre, code{
        font-family: inherit;
    }
}
